<div class="home">
  <div class="header">
    <nav class="navbar">
      <ul>
        <li><a routerLink="/">Main</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="projects">Projects</a></li>
        <li><a routerLink="technology">Technology</a></li>
      </ul>
    </nav>
  </div>
  <!-- <ng-particles
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
    (particlesInit)="particlesInit($event)"
  ></ng-particles> -->
  <Particles id="tsparticles" [options]="particlesOptions"></Particles>
  <h1>Main</h1>

  <app-greet></app-greet>
  <router-outlet></router-outlet>
</div>
